*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* this helps to see all the margins & padding */
* {
  outline: 1px red dotted;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

main section:not(.show) {
  display: none;
}

main {
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  width: 100%;
}

/* LINKS  */
a:link {
  text-decoration: none;
  color: #00766c;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #64d8cb
}

/* NAV */
nav ul,
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#nav li,
#footer li {
  margin: 1rem;
}